$yellow: yellow;
$green: green;
$red: red;
$blue: blue;
$white: white;
$gray: gray;
$black: black;

@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

@mixin textos ($h_shadow, $v_shadow, $blur_radius, $color, $alineado ) {
    text-shadow: $h_shadow $v_shadow $blur_radius $color;
    text-align: $alineado;
}

.jumbotron {
    background-image: linear-gradient( to right, $blue, $red, $yellow);
    color: $white;
    @include textos(2px, 1px, 0px, $black, center);
    @include margenes(50px, 10px);
}

.mystic{
    background:linear-gradient($blue, $black);
    color: $white;
    @include textos(2px, 1px, 0px, $black, center);
}

.valor{
    background: linear-gradient($red,$black);
    color: $white;
    @include textos(2px, 1px, 0px, $black, center);
}

.instinct{
    background: linear-gradient($yellow, $black);
    color: $white;
    //text-shadow: 2px 1px $black;
    //text-align: center;
    @include textos(2px, 1px, 0px, $black, center);
}

.banner_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.card_img {
    border: 0px solid $white;
    border-radius: 4px;
    padding: 5px;
    width: 50%;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.ex-card{
    flex: 1 150px;
    padding: 2px 2px 2px 2px;
    align-items: center;
}

.btn-ex{
    width: 100%;
}

.producto{
    color: $white;
    background: linear-gradient($gray,$black);
}

address { 
    display: block;
    font-style: italic;
  }

.carousel {
    @include margenes(0px, 5px);
}

